.DS_Store
*node_modules
target
*Cargo.lock
.idea

# Generated wasm interop modules
mesh-visualizer/mesh_visualizer*

# Generated serialized blender meshes
mesh-visualizer/dist

# GH Pages website
mesh-visualizer/site-dist

*.blend1
